<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>restaurant-apps</title>
  <meta name="description" content="This website was created with the aim of collecting assignments in the front end expert module">
</head>
<body>
    <a href="#content" class="skip-link">Skip to content ?</a>

    <header class="header">
        <a href="/">
            <h1 class="nav_logo">hunger Apps</h1>
        </a>
        <button class="menu" id="menu" aria-label="button menu dropdown on mobile">☰</button>
        <nav id="drawer" class="nav">
            <ul class="nav_list">
                <li class="nav_item"><a href="">Home</a></li>
                <li class="nav_item"><a href="#">Favorite</a></li>
                <li class="nav_item"><a href="https://www.instagram.com/tsqib__/?hl=id" target="_blank" rel="noopener">About Us</a></li>
            </ul>
        </nav>
    </header>

    <div class="hero" style="background-image: linear-gradient(rgba(0, 0, 6, .6), rgba(0, 0, 6, .6)), url('images/heros/hero-image_4.jpg');">
        <div class="heroinner">
            <h1 class="herotitle">Hunger Apps</h1>
        </div>
    </div>

    <main id="content">
        <section class="content">
            <div class="latest">
                <h1>Restaurant List</h1>
                <div class="list" id="tes"></div>
            </div>
        </section>
    </main>

    <footer>
        <p>Copyright © 2022 - Hunger Apps</p>
    </footer>
</body>
</html>
